# Setting an env var with the monorepo root
export LUKIN_ROOT=$( cd -- "$( dirname -- "${BASH_SOURCE[0]}" )" &> /dev/null && pwd )

# Adding the `scripts/` folder to PATH
PATH_add scripts

# Guessing the user id you'll be working with
if [ -z "$LUKIN_UID" ]; then
    export LUKIN_UID=$(id -u)
fi
