<!-- Footer navigation links would go here -->
<div class="h-full w-full flex justify-around items-center">
  <a href="<%= profiles_path %>" class="grow btn btn-ghost rounded-none">
    <%= lucide_icon :users, class: 'w-5 h-5' %>
  </a>
  <a href="<%= profiles_path %>" class="grow btn btn-ghost rounded-none">
    <%= lucide_icon 'message-square', class: 'w-5 h-5' %>
  </a>
</div>
