<div class="bg-base-100 text-white mb-12 flex flex-col h-screen-safe">
  <!-- Header -->
  <%= render partial: 'index_header' %>
  <%= render partial: 'grid', locals: { profiles: @profiles } %>

  <div class="w-full fixed bottom-0 h-12 bg-neutral">

  </div>
</div>
